*.bot
.idea/deployment.xml
src/test/**
out/
target/
cache/
.idea/*.xml
*.class
src/main/java/main/java/top/kylinbot/demo/service/MahjongService
src/main/java/main/resources/syanten1007-2013.8.5.js
/src/main/java/main/java/main/resources/KylinBot.properties
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*